.custom-modal {
    max-width: 500px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-header {
    background-color:#010f24;
   
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .modal-body {
    background-color: #010f24;
    padding: 20px;
  }
  
  .section {
    margin-top: 20px;
  }
  
  .modal-footer {
    background-color:#010f24;
   
    padding: 20px;
    text-align: right;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .close-button {
    background-color:#010f24;
    color: #fff;
  }

  .first-section h2 {
  color:#010f24;
  cursor: pointer;
  transition: color 0.3s ease;
}

.first-section h2:hover {
  color: #3367d6;
}

.action-button {
  background-color: #4285f4;
  color: #0e0c0c;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #3367d6;
}